In [ ]:
x = 0
while x < 10:
  print(x)
  x=x+1

0
1
2
3
4
5
6
7
8
9

Loop that starts by printing 20 all the way to 25

In [ ]:
x = 20
while x < 26:
  print(x)
  x=x+1

20
21
22
23
24
25

In [ ]:
x = int(input("Please enter a positive number"))
while x < 0:
  x = int(input("Please enter a positive number"))
  print("You have entered a positive number")

Enter 3 digit positive number, keep asking until the user gives 3 digit positive number

In [ ]:
x = int(input("Please enter a 3-digit number: "))
while x <100 or x >999:
  x = int(input("Please enter a 3-digit number: "))
  print("You have entered a 3 digit number")

For Loop

In [ ]:
for x in range (0,10):
  print (x)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for x in range (0, 10, 2):
  print(x)

0
2
4
6
8

In [ ]:
for x in range(5,15,2):
  print(x)

5
7
9
11
13

Exercise

In [ ]:
for x in range(20,-5,-4):
  print(x)

20
16
12
8
4
0
-4

In [ ]:
x = int(input("Enter a positive number: "))
while True:
  if x > 0:
    break
  x = int(input("Enter a positive number: "))
  print("You have entered a positive number")

Ask user for 2 positive numbers

In [ ]:
x = 0
y = 0
while x <=0 or y <= 0:
  x = int(input("Enter the first positive number: "))
  if x <0:
    continue
  y=int(input("Enter the second positive number: "))
print("You have entered two positive numbers")

Enter the first positive number: 1
Enter the second positive number: 1
You have entered two positive numbers

Nested Loop

In [ ]:
i = 0
while i < 3:
  i = i + 1
  j = 0
  while j < 3:
    print("Count: ",i,j)
    j=j+1

Count:  1 0
Count:  1 1
Count:  1 2
Count:  2 0
Count:  2 1
Count:  2 2
Count:  3 0
Count:  3 1
Count:  3 2

Infinite Loops

In [ ]:
count = 0
while count <5:
  print("Count: ",count)

Exercise:
1. Print -10 to -1 using loop
2. Ask the user for 2 numbers between 1 to 100, print the sum between them (e.g number: 1,5. 1+2+3+4+5 print total (sum)
3. Print the following pattern 1 12 123 1234 12345

In [ ]:
for x in range(-10,0):
  print(x)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [ ]:
first=int(input("Please enter 1st number: "))
second=int(input("Please enter 2nd number: "))
total=0
for x in range (first,second + 1):
  total=total+x
print(total)

In [ ]:
first=int(input("Please enter 1st number: "))
second=int(input("Please enter 2nd number: "))
print(sum(range(first,second+1)))

In [ ]:
last=6
for row in range (1, last):
  for column in range (1,row+1):
    print(column,end='')
  print('')

1
12
123
1234
12345